<button
  class="add-btn"
  mat-raised-button
  color="primary"
  (click)="addEmployee()"
>
  Add Employee
</button>
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.username}} </td>
    </ng-container>

   

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
      <td mat-cell *matCellDef="let row"> {{ row.mobile }}  </td>
    </ng-container>
    
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email_address}} </td>
    </ng-container>
    

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
      <td mat-cell *matCellDef="let row"> {{row.active}} </td>
    </ng-container>
    <ng-container matColumnDef="updated_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
      <td mat-cell *matCellDef="let row"> {{row.updated_date}} </td>
    </ng-container>
    <ng-container matColumnDef="deletedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deleted Date </th>
      <td mat-cell *matCellDef="let row"> {{row.deleted_date}} </td>
    </ng-container>

    <ng-container matColumnDef="created_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
      <td mat-cell *matCellDef="let row"> {{row.created_date}} </td>
    </ng-container>

    <ng-container matColumnDef="det">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row"><button
        class="edit-btn"
        mat-raised-button
        color="grey"
        (click)="editEmployee(row)"
      >
        View
      </button></td>
    </ng-container>

    <ng-container matColumnDef="del">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row"><button
        class="delete-btn"
        mat-raised-button
        color="warn"
        (click)="deleteEmployee(row)"
      >
        Delete
      </button></td>
    </ng-container>
    
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row"><button
        class="edit-btn"
        mat-raised-button
        color="primary"
        (click)="editEmployee(row)"
      >
        Edit
      </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="d_Colums"></tr>
    <tr mat-row *matRowDef="let row; columns: d_Colums;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>