<mat-dialog-content>
  <form class="activity-form" [formGroup]="employeeForm">
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input id="name" formControlName="description" placeholder="name" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input id="phone" formControlName="description" placeholder="description" matInput />
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <mat-select
        formControlName="owner"
        [compareWith]="officeComparator"
      >
        <mat-option
          *ngFor="let office of officeFacade.offices$ | async"
          [value]="office"
        >
          {{ office.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Sector</mat-label>
      <mat-select
        formControlName="goal"
        [compareWith]="goalComparator"
        (selectionChange)="onGoalSelectionChange($event)"
      >
        <mat-option
          *ngFor="let goal of roleFacade.goals$ | async"
          [value]="goal"
        >
          {{ goal.description }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
    <mat-card class="performance-indicator">
      <mat-card-header>
        <mat-card-subtitle>Assets</mat-card-subtitle>
      </mat-card-header>
      <div
        formArrayName="performanceIndicators"
        *ngFor="
          let performanceIndicatorForm of performanceIndicators.controls;
          let i = index
        "
        class="grouping"
      >
        <div class="performance-indicator-form" [formGroupName]="i">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input id="name" matInput formControlName="name" />
          </mat-form-field>
          <div class="btns">
            <mat-icon
              class="add-btn"
              color="accent"
              (click)="deletePerformanceIndicator(i)"
            >
              remove_circle</mat-icon
            >
            <mat-icon
              class="add-btn"
              color="primary"
              (click)="addPerformanceIndicator()"
            >
              add_circle</mat-icon
            >
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="performance-indicator">
      <div
        formArrayName="performanceIndicators"
        *ngFor="
          let performanceIndicatorForm of performanceIndicators.controls;
          let i = index
        "
        class="grouping"
      >
        <div class="performance-indicator-form" [formGroupName]="i">
          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="unitOfMeasure">
              <mat-option *ngFor="let unit of unitOfMeasures" [value]="unit">
                {{ unit }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="btns">
            <mat-icon
              class="add-btn"
              color="accent"
              (click)="deletePerformanceIndicator(i)"
            >
              remove_circle</mat-icon
            >
            <mat-icon
              class="add-btn"
              color="primary"
              (click)="addPerformanceIndicator()"
            >
              add_circle</mat-icon
            >
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    [disabled]="!employeeForm.valid"
    class="submit"
    mat-flat-button
    color="primary"
    (click)="save()"
    [mat-dialog-close]
  >
    Save
  </button>
  <button class="submit" mat-flat-button color="accent" [mat-dialog-close]>
    Cancel
  </button>
</mat-dialog-actions>
