<mat-dialog-content>
  <form class="activity-form" [formGroup]="employeeForm">
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input id="username" formControlName="username" placeholder="username" matInput />
      <mat-error *ngIf="employeeForm.get('username')?.hasError('required')">
        Please enter username
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" id="password" formControlName="password" placeholder="password" matInput />
      <mat-error *ngIf="employeeForm.get('password')?.hasError('required')">
        Please enter password
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mobile</mat-label>
      <input id="mobile" formControlName="mobile" placeholder="mobile" matInput />
      <mat-error *ngIf="employeeForm.get('mobile')?.hasError('required')">
        Please enter mobile
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input id="emial" formControlName="email_address" placeholder="Email" matInput />
      <mat-error *ngIf="employeeForm.get('email_address')?.hasError('required')">
        Please enter email
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    [disabled]="!employeeForm.valid"
    class="submit"
    mat-flat-button
    color="primary"
    (click)="save()"
    [mat-dialog-close]
  >
    Save
  </button>
  <button class="submit" mat-flat-button color="accent" [mat-dialog-close]>
    Cancel
  </button>
</mat-dialog-actions>
