<mat-dialog-content>
  <form class="office-form" [formGroup]="officeForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input id="name" formControlName="name" placeholder="name" matInput />
      <mat-error *ngIf="officeForm.get('description')?.hasError('required')">
        Please enter Office name
      </mat-error>
      <mat-error *ngIf="officeForm.get('description')?.hasError('pattern')">
        Please enter Correct office name more than 3 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Office Code</mat-label>
      <input id="officeCode" formControlName="officeCode" placeholder="officeCode" matInput />
      <mat-error *ngIf="officeForm.get('officeCode')?.hasError('required')">
        Please enter office code
      </mat-error>
      <mat-error *ngIf="officeForm.get('officeCode')?.hasError('pattern')">
        Please enter Correct office code
      </mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input id="location" formControlName="location" placeholder="location" matInput />
      <mat-error *ngIf="officeForm.get('location')?.hasError('required')">
        Please enter location of the office
      </mat-error>
      <mat-error *ngIf="officeForm.get('location')?.hasError('pattern')">
        Please enter Correct location name more than 3 characters
      </mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Reports To</mat-label>
      <mat-select formControlName="parent" [compareWith]="officeComparator">
        <mat-option
          *ngFor="let office of officeFacade.offices$ | async"
          [value]="office"
        >
          {{ office.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox class="owns-activities" formControlName="ownsActivities" >Owns Activities</mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    class="submit"
    mat-flat-button
    color="primary"
    (click)="save()"
    [disabled]="!officeForm.valid"
    [mat-dialog-close]
  >
    Save
  </button>
  <button class="submit" mat-flat-button color="accent" [mat-dialog-close]>
    Cancel
  </button>
</mat-dialog-actions>
