.mat-card {
    width: 30rem;
    height: 18rem;
}

img {
    height: 250px;
}

mat-card {
    max-width: 50rem;
    margin: 2em auto;
    text-align: center;
    max-height: 50rem;
    border-radius: 2rem;
}

form {
    padding-top: 10%;
    background-image: url('https://previews.123rf.com/images/albertkarimov/albertkarimov1703/albertkarimov170300009/73267957-background-of-fabrics-and-textiles-in-bright-yellow-colour.jpg?fj=1');
    height: 100%;
}